<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    /* CSS styles go here */
    body {
      font-family: Arial, sans-serif;
      background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=1380&t=st=1696144507~exp=1696145107~hmac=98e64ad4dc607480f48a102cb78d6e6e5728bd99f4bd459fff13ad25ee5643c0");
      background-size: cover;
      background-repeat: no-repeat;
    }

    h2 {
      color: #333;
    }

    a {
      text-decoration: none;
      color: #007bff;
      margin-right: 10px;
    }

    a:hover {
      text-decoration: underline;
    }

    #container {
      border: 5px outset red;
      background-color: lightblue;
      text-align: center;
      width: 30%;
      font-size: 40px;
      margin: auto;
      padding: 20px;
      margin-top: 5%;
    }
  </style>
</head>

<body>
  <div id="container">
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </div>
</body>

</html>